Import modules

In [1777]:
import pandas as pd
import numpy as np
import json

Import the data base

In [1778]:
data = pd.read_excel('data.xlsx')

with open('fights.json') as data_base:
    league_list = json.load(data_base)

if member is on the league list

In [1779]:
league_members = []
ignore_members = []

for member in data['Discord Name']:
    for league_member in league_list['league_list']:

        if member == league_member:
            league_members.append(member)
for name in data['Discord Name']:
    if name in league_members:
        pass
    else:
        ignore_members.append(name)
a = league_members

Sus System

In [1780]:
fight_list = []

def sus(df):
    cache = df
    cache2 = []

    for i in df:
        member1 = cache[np.random.randint(0,len(cache))]
        cache.remove(member1)

        member2 = cache[np.random.randint(0,len(cache))]
        cache.remove(member2)

        cache2.append([member1,'vs',member2])

    cache3 = [cache[0],'vs',cache[1]]

    cache2.append(cache3)

    return cache2

fight_list = sus(league_members)

Data Visualization

In [1781]:
data

        Discord Name              Nickname   Level      Bounty
0         Thanatin01            Thanatin01  2300.0  26280000.0
1    DAVIDRAGONBLACK       DAVIDRAGONBLACK  2300.0  20680000.0
2         Arceus_077            Arceus_077  2300.0  20610000.0
3            Migo226               migo227  2300.0  20070000.0
4           alexhwrt              alexhwrt  2300.0  16030000.0
5       seuyagolindo          seuyagolindo  2300.0  15660000.0
6   lauroarturdesa33       lauroaturdesa33  2300.0  15510000.0
7          Mamacozzo             Mamacozzo  2300.0  13540000.0
8              yLuis      luisguilhermewsw  2067.0  16030000.0
9            Strinp_           StrinpPeix3  2273.0  13000000.0
10          FL4_GOJO              FL4_GOJO  2300.0  11000000.0
11         LZINN_XLO             LZINN_XL0  2300.0   9540000.0
12            BLACKn          BLACKn444413  2300.0   6410000.0
13        T8KGABRIEL            T8KGABRIEL  2300.0   4370000.0
14   D00DL4_N0THUM4N       D00DL4_N0THUM4N  2300.0   4000000.0
15     MeliodasBRXXX         MeliodasBRXXX  2300.0   3450000.0
16      mamaquinho25          mamaquinho25  2300.0   3210000.0
17     Eto_yoshimura  crocodilo05americano  2300.0   3180000.0
18           Be_BR11               Be_BR11  2300.0   2670000.0
19      Erickflockus           OMiranha_20  1617.0   2510000.0
20                 -                   NaN     NaN         NaN

league's Participants

In [1782]:
pd.DataFrame(data = league_members,columns=['Participant'])

['seuyagolindo', 'FL4_GOJO']

Participants aren't in the league

In [1783]:
pd.DataFrame(data = ignore_members,columns=['Participant'])

        Participant
0        Arceus_077
1           Migo226
2         Mamacozzo
3             yLuis
4           Strinp_
5         LZINN_XLO
6            BLACKn
7        T8KGABRIEL
8   D00DL4_N0THUM4N
9      mamaquinho25
10          Be_BR11
11     Erickflockus
12                -

fights list

In [1784]:
pd.DataFrame(data = fight_list,columns=['fighter 1','vs','fighter 2'])

          fighter 1  vs        fighter 2
0  lauroarturdesa33  vs    MeliodasBRXXX
1          alexhwrt  vs    Eto_yoshimura
2        Thanatin01  vs  DAVIDRAGONBLACK
3      seuyagolindo  vs         FL4_GOJO